{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

        {% comment %} #popper.js {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="{% static 'shop/style.css' %}">
        
        
    </head>
    <body>
        
            <header class='header'>
                <img src="{% static 'shop/logo.png' %}" class='img'></img>
                <nav class='nav'>
                    <ul class='ul'>
                        <li class='li'><a href="" class='a'>Home</a></li>
                        <li class='li'><a href="" class='a'>About</a></li>
                        <li class='li'><a href="" class='a'>Contact-us</a></li>
                        <li class='li'><button type="button" id="cart" data-html="true" class="btn btn-secondary button" data-bs-container="body" data-toggle="popover" data-bs-placement="bottom"  data-bs-content="Bottom popover">
                            <i class="uil uil-shopping-cart"></i> </button><li>

                    </ul>
                </nav>
            </header>
            <div class="container">
            {% comment %} <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand btn" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link btn" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link btn" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" id="cart" data-html="true" class="btn btn-secondary" data-bs-container="body" data-toggle="popover" data-bs-placement="bottom"  data-bs-content="Bottom popover">
                                    Cart(0)
                                  </button>                                  
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>     {% endcomment %}
            <div class="row">
                <div class="col-md-12">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name='item_name' placeholder="search for products" class="form-control form-control-borderless">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row">
              {% for product in product_objects %}
                <div class="col-md-3 column">
                    <div class="card">
                        <img src="{{ product.image }}" class="card-img-top">
                        <div class="card-body">
                            <div id="nm{{ product.id }}" class="card-title">
                                {{ product.title }}
                            </div>
                            <div id="price{{ product.id }}" class="card-text">{{ product.price }}</div>
                            <a class="btn btn-warning" href="/{{ product.id }}">View</a>
                            <button id="{{ product.id }}" class="btn atc btn-warning" href="">Add To Cart</button>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>


                    <ul class="pagination page-link">
                        {% if product_objects.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ product_objects.previous_page_number }}">
                                    Previous
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ product_objects.number }}">
                                Current
                            </a>
                        </li>

                        {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.next_page_number }}">
                                Next
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

        </div>
        <script type="text/javascript">
            console.log('This')

            if(localStorage.getItem('cart')==null){
                var cart={};
            }
            else{
                cart = JSON.parse(localStorage.getItem('cart'));
            }

            $(document).on('click','.atc',function(){
                var item_id = this.id.toString();
                console.log(item_id);
                if(cart[item_id]!=undefined){
                    quantity=cart[item_id][0]+1;
                    cart[item_id][0]=quantity;
                    cart[item_id][2]=cart[item_id][2]+parseFloat(document.getElementById("price"+item_id).innerHTML);
                }
                else{
                    quantity=1;
                    name=document.getElementById("nm"+item_id).innerHTML;
                    cart[item_id]=[quantity,name];
                    price=parseFloat(document.getElementById("price"+item_id).innerHTML);
                    cart[item_id]=[quantity,name,price];
                }
                console.log(cart);
                localStorage.setItem('cart',JSON.stringify(cart));
                document.getElementById("cart").innerHTML = "Cart("+Object.keys(cart).length+")";                

            });

              $(function () {
                $('[data-toggle="popover"]').popover()
              }) 
            DisplayCart(cart);
            function DisplayCart(cart){
                var cartString = "";
                var cartIndex = 1;
                for(var x in cart){
                    cartString += cartIndex;
                    cartString += document.getElementById("nm"+x).innerHTML + "Qty:" +cart[x][0]
                    cartIndex+=1
                }

                cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>";
                document.getElementById("cart").setAttribute('data-bs-content',cartString);
                $('[data-toggle="popover"]').popover(); 
                $('[data-toggle="popover"]').html(); 
            }
        </script>
    </body>
</html>




    
